@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #1d1e21;
    box-sizing: border-box;
}

body{
    min-width: 1100px;
    width: 100vw;
    flex-direction: row;
    overflow-x: hidden;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*header*/

header{
    position: fixed;
    top: 0;
    height: 54px;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 5%);
}
.header-logo{
    height: 70%;
}
.header-logo img{
    margin: 0 55px;
    height: 100%;
}
header nav{
    max-width: 500px;
    width: 100%;
    margin: 0 55px;
    height: 100%;
    vertical-align: middle;
}
header .nav-item{
    position: relative;
    display: block;
    height: 100%;
    line-height: 54px;
    text-decoration: none;
    font-weight: 500;
}
header .nav-item::after{
    bottom: 0px;
    left: 50%;
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #e240b0;
    transition: all .5s;
}
header .nav-item:hover::after{
    width: 100%;
    left: 0;
    transition: all .5s;
}
header .nav-item:hover{
    cursor: pointer;
}

.vermiddle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
/*Content*/

#first-section{
    background-image: url("../img/backgrounds/background1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

#first-section .section-inner{
    height: calc(100% - 54px - 320px);
    width: 100%;
}

#first-section .bottom-part{
    background-image: url("../img/backgrounds/background_01_bottom_part.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    
    z-index: 10;
}

#first-section .headers-wrapper{
    width: 73%;
    height: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#first-section .header-delta{
    display: block;
    height: 54px;
    min-height: 54px;
}
#first-section h1{
    font-size: 94px;
    line-height: 100px;
    padding-left: 40px;
    color: #fff;
}
#first-section h1 span{
    color: #e240b0;
}
#first-section h3{
    font-size: large;
    padding-left: 45px;
    color: #fff;
    font-weight: 600;
}
#first-section .btn-outer{
    margin: 30px 0 0 60px;
    height: 230px;
    width: 230px;
    background-color: #fff;
    border-radius: 26% 74% 73% 27% / 46% 42% 58% 54%;
    box-shadow: inset -10px -10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
}
#first-section .btn-outer:hover{
    border-radius: 65% 35% 32% 68% / 30% 42% 58% 70%;
    transition: all 0.5s;
}

#first-section .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 230px;
    border-radius: 62% 38% 20% 80% / 59% 79% 21% 41%;
    background-color: #e240b0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: inset -10px -10px 15px rgba(0, 0, 0, 0.2);;

}
#first-section .btn:hover{
    border-radius: 43% 57% 71% 29% / 73% 61% 39% 27%;
    transition: all 0.8s;
    
}
#first-section .btn span{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

/* RIGHT MENU */
.main{
    position: absolute;
    width: 100vw;
    left: 0;
}
aside{
    position: absolute;
    background-color: #e240b0;
    height: 100vh;
    width: 380px;
    right: -380px;
    top: 0;
    display: none;
}
aside div{
    width: 100%;
    text-align: center;
}
aside div h1{
    font-size: 26px;
    margin: 13px 0;
}
aside .reg_lbl{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}
aside input{
    font-size: 20px;
    background-color: #e240b0;
    border: none;
    border-bottom: 2px solid #1d1e21;
    margin-bottom: 10px;
}
.frm-button{
    display: block;
    font-size: 26px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    background-color: #1d1e21;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px auto;
}
.form-desc{
    font-weight: 500;
}
.form-desc b:hover{
    cursor: pointer;
}
/* ABOUT */
#about-page,
#abonement-page{
    max-width: 1610px;
    width: 100vw;
    margin: 70px auto;
    flex-wrap: wrap;
}
#about-page div.outer,
#abonement-page .outer{
    width: 50%;
    min-width: 800px;
    margin: 0 auto;
}
.map-wrapper{
    position: relative;
}
.map-wrapper .map{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: 500;
}
.map-wrapper .map iframe{
    width: 100%;
    border-radius: 50%;
    filter: grayscale(.8);
	-ms-filter: grayscale(.8);
	-webkit-filter: grayscale(.8);
	-moz-filter: grayscale(.8);
	-o-filter: grayscale(.8);
}
.map-wrapper #luqiud1{
    position: absolute;
    background-image: url("../img/backgrounds/map_liquid1.png");
    z-index: -1;
    height: 180px;
    width: 260px;
    top: 0px;
    left: 0;
}
.map-wrapper #luqiud1 img{
    z-index: -1;
}
.map-wrapper #luqiud2{
    position: absolute;
    z-index: 100;
    height: 240px;
    width: 195px;
    left: 605px;
    bottom: 0;
}

.text-wrapper{

}
.tag{
    font-size: 21px;
    margin-bottom: 0.8em;
    background-color: #FFCFE3;
    border-radius: 62px;
    font-weight: 500;
    padding: 3px 10px;
    letter-spacing: 1px;
}
h1.header-adress{
    font-size: 64px;
    line-height: 68px;
}
#about-page .text-wrapper p{
    margin: 36px 0;
    font-size: 21px;
    letter-spacing: 1px;
}
.btn-wrapper{
    justify-content: flex-start;
    margin-bottom: 36px;
}
.btn{
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 260px;
    text-align: center;
    padding: 12px 24px;
    margin-right: 36px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    background-color: #1d1e21;
}
.white-btn{
    background-color: #fff;
    color: #1d1e21;
    border: 3px solid #1d1e21;
}

#abonement-page{
    


}

.form-wrapper{
    background-color: #FFCFE3;
    border-radius: 85% 15% 88% 12% / 13% 90% 10% 87%;
    text-align: center;
    padding: 20px 0;
}
.form-wrapper form{
    font-size: 23px;
}
.form-wrapper form select,
.form-wrapper form input[type="date"]{
    font-size: 22px;
    border: none;
    border-bottom: 3px solid #e240b0;
    margin-bottom: 15px;
    background-color: transparent;
}
.form-wrapper form .lbl{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
}
.form-wrapper form span b{
    display: inline-block;
    background-color: transparent;
    border: 2px solid #1d1e21;
    border-radius: 50px;
    padding: 1px 15px;
    font-weight: 500;
}
.form-wrapper form span b:hover{
    cursor: pointer;
}
#send_form{
    display: block;
    font-size: 26px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    background-color: #1d1e21;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px auto;
}
#sport-section-wrapper{
    margin: 0;
    padding: 0;
}

#abonement-page .text-wrapper{
    margin-bottom: 40px;
}

/* notification */
.notification{
    position: fixed;
    width: 400px;
    top: 70px;
    padding: 15px;
    background-color: #FFCFE3;
    border-right: 4px solid #e240b0;
}
.notification p{
    font-size: 18px;
    font-weight: 500;
}