@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #1d1e21;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 1100px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*header*/

header{
    position: fixed;
    top: 0;
    height: 54px;
    width: 100vw;
    background-color: white;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 5%);
}
.header-logo{
    height: 70%;
}
.header-logo img{
    margin: 0 55px;
    height: 100%;
}
header nav{
    max-width: 500px;
    width: 100%;
    margin: 0 55px;
}

.vermiddle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
/*Content*/

#first-section{
    background-image: url("../img/backgrounds/background1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

#first-section .section-inner{
    height: calc(100% - 320px - 54px);
    width: 100%;
}

#first-section .bottom-part{
    background-image: url("../img/backgrounds/background_01_bottom_part.png");
    background-position: center center;
    height: 320px;
    width: 100%;
    
    z-index: 10;
}

#first-section .headers-wrapper{
    width: 73%;
    max-width: 1150px;
}

#first-section .header-delta{
    display: block;
    height: 54px;
}
#first-section h1{
    font-size: 94px;
    line-height: 100px;
    padding-left: 40px;
    color: #fff;
}
#first-section h1 span{
    color: #e240b0;
}
#first-section h3{
    font-size: large;
    padding-left: 45px;
    color: #fff;
    font-weight: 600;
}
#first-section .btn-outer{
    margin: 30px 0 0 60px;
    height: 230px;
    width: 230px;
    background-color: #fff;
    border-radius: 26% 74% 73% 27% / 46% 42% 58% 54%;
    box-shadow: inset -10px -10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
}
#first-section .btn-outer:hover{
    border-radius: 65% 35% 32% 68% / 30% 42% 58% 70%;
    transition: all 0.5s;
}

#first-section .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 230px;
    border-radius: 62% 38% 20% 80% / 59% 79% 21% 41%;
    background-color: #e240b0;
    text-align: center;
    transition: all 0.5s;
    box-shadow: inset -10px -10px 15px rgba(0, 0, 0, 0.2);;

}
#first-section .btn:hover{
    border-radius: 43% 57% 71% 29% / 73% 61% 39% 27%;
    transition: all 0.8s;
    
}
#first-section .btn span{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}